<<<<<<< HEAD
.nav-bar{
    background-color: black;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 10px 20px;
    color: white;
}
.btn-wrapper{
    display: flex;
    justify-content:center;
    flex-grow: 1;
}
.btn{
    margin-left: 10px;
}
button{
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.Login-div{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("University.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    position: relative; 
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
    border-radius: 4px;
}
.highlights{
    background-color: darkgoldenrod;
    background-blend-mode: darken;
    padding: 2px 4px;
    border-radius: 3px;
=======
.nav-bar{
    background-color: black;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 10px 20px;
    color: white;
}
.btn-wrapper{
    display: flex;
    justify-content:center;
    flex-grow: 1;
}
.btn{
    margin-left: 10px;
}
button{
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.Login-div{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("University.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    position: relative; 
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
    border-radius: 4px;
}
.highlights{
    background-color: darkgoldenrod;
    background-blend-mode: darken;
    padding: 2px 4px;
    border-radius: 3px;
>>>>>>> 086169ec135c8ee21ab8f9602b280685a7308935
}